<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container">
			<% if(typeof message != 'undefined') { %>
				<div class="ui message">
					<div class="header"><%= message.header %></div>
					<div class="description"><%= message.description %></div>
				</div>
			<% } %>
		</div>
		<div class="ui container" style="margin-top: 1em">
			<h1>Random Links</h1>
		</div>
		<div class="ui centered cards">
			<% links.forEach(function(link){ %>
				<%- include('../snippets/cardLink', {card: link, isprofilepage: false}) %>
			<% }); %>
		</div>

		<% var profiles = []; %>
		<% function findById(source, id) {
			for (var i = 0; i < source.length; i++) {
				if (source[i]._id === id) {
					return i;
				}
			}
			return -1;
		} %>
		<% for (var i = 0; i < links.length; i++) {
			if (findById(profiles, links[i].owner._id) === -1) {
				profiles.push(links[i].owner)
			}
		} %>

		<div class="ui center aligned segment container" style="margin-top: 1em">
			<div class="ui relaxed horizontal list">
				<% profiles.forEach(profile => { %>
					<div class="item">
						<img class="ui avatar image" src="<%= profile.twitter.image %>">
						<div class="content">
							<div class="header">
								<a href="/profile/<%= profile.twitter.username %>" target="_blank">
									<%= profile.twitter.username %>
								</a>
							</div>
							<%= profile.twitter.displayName %>
						</div>
					</div>
				<% }); %>
			</div>
		</div>

		<div class="ui center aligned container" style="margin-top: 1em">
			<div class="ui horizontal bulleted link list">
				<a class="item" href="/profiles">
					All Users
				</a>
			</div>
		</div>

		<% include ../snippets/footer %>
		<script type="text/javascript" src="/js/datediff.js"></script>
		<script type="text/javascript">
			<% for (var i = 0; i < links.length; i++) { %>
				$('#<%= links[i].id %>-date').html(dateDifference(new Date('<%= links[i].updatedAt %>'), new Date(), {compact: true}));
			<% } %>
		</script>
	</body>
</html>
