<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container" id="top">
			<div class="ui center aligned segment">
				<h1 class="ui header">fcc-pinterest</h1>
				<h4>Log in using Twitter</h4>
				<a class="ui large twitter button" href="/auth/twitter">
					<i class="big twitter icon"></i>
					Login
				</a>
			</div>
		</div>

		<div class="ui text container">
			<div class="ui segments">
				<div class="ui segment">
					<div class="ui relaxed list">
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an unauthenticated user, I can login with Twitter.</div>
							</div>
						</div>
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an authenticated user, I can link to images.</div>
							</div>
						</div>
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an authenticated user, I can delete images that I've linked to.</div>
							</div>
						</div>
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an authenticated user, I can see a Pinterest-style wall of all the images I've linked to.</div>
							</div>
						</div>
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an unauthenticated user, I can browse other users' walls of images.</div>
							</div>
						</div>
						<div class="item">
							<i class="chevron right icon"></i>
							<div class="content">
								<div class="header">User Story:</div>
								<div class="description">As an authenticated user, if I upload an image that is broken, it will be replaced by a placeholder image.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui centered cards" style="margin-top: 1em">
			<% for (var i = 0; i < links.length; i++) { %>
				<div class="card">
					<div class="content">
						<a href="https://twitter.com/<%= links[i].owner.twitter.username %>" target="_blank">
							<img class="ui avatar image" src="<%= links[i].owner.twitter.image %>">
							<%= links[i].owner.twitter.username %>
						</a>
						<div class="right floated meta">
							<a href="/profile/<%= links[i].owner.twitter.username %>" id="<%= links[i].id %>-date"></a>
						</div>
					</div>
					<a class="image" href="<%= links[i].image %>" target="_blank">
						<img src="<%= links[i].image %>"/>
					</a>
					<div class="content">
						<div class="header">
							<a href="/profile/<%= links[i].owner.twitter.username %>"><%= links[i].title %></a>
						</div>
						<div class="meta">
							<% for (var j = 0; j < links[i].tags.length; j++) { %>
								<a><%= links[i].tags[j] %></a>
							<% } %>
						</div>
					</div>
					<div class="extra content">
						<span class="right floated meta">
							<a href="/profile/<%= links[i].owner.twitter.username %>"><%= links[i].createdAt.toLocaleDateString() %></a>
						</span>
						<span>
							<a>
								<i class="heart icon"></i>
							</a>
							<%= links[i].likes.length %>
							likes
						</span>
					</div>
				</div>
			<% } %>
		</div>

		<% include ../snippets/footer %>
		<script type="text/javascript" src="/js/datediff.js"></script>
		<script type="text/javascript">
			<% for (var i = 0; i < links.length; i++) { %>
				$('#<%= links[i].id %>').html(dateDifference(new Date('<%= links[i].updatedAt %>-date'), new Date(), {compact: true}));
			<% } %>
		</script>
	</body>
</html>
