<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container">
			<% if(typeof message != 'undefined') { %>
				<div class="ui big icon <%= message.type %> message">
					<% if(message.type === 'error') { %>
						<i class="warning sign icon"></i>
					<% } else { %>
						<i class="check circle outline icon"></i>
					<% } %>
					<i class="close icon"></i>
					<div class="">
						<div class="header"><%= message.header %></div>
						<div class="description"><%= message.description %></div>
					</div>
				</div>
				<% if(message.type === 'error') { %>
					<div class="ui segment">
						<form class="ui form" action="/link/new" method="post">
							<div class="field">
								<label>Title</label>
								<input placeholder="Link title" type="text" name="title">
							</div>
							<div class="field">
								<label>Image URL</label>
								<input placeholder="Image URL" type="text" name="image">
							</div>
							<div class="field">
								<label>Tags</label>
								<input placeholder="Tags" type="text" name="tags">
							</div>
							<button class="ui large primary button" type="submit">Send</button>
						</form>
					</div>
				<% } else if(message.type === 'success') { %>
					<div class="ui centered cards" style="margin-top: 1em">
						<%- include('../snippets/cardLink', {card: link, isprofilepage: false}) %>
					</div>

					<div style="display:table; width: 100%">
						<div style="display:table-cell;vertical-align:middle;">
							<div style="text-align:center;">
								<a class="ui primary big button" href="/" style="margin-top: 1em">Home</a>
							</div>
						</div>
					</div>
				<% } %>
			<% } else { %>
				Undefined. You should not be here.
			<% } %>
		</div>

		<% include ../snippets/footer %>
		<% if(message.type === "success") { %>
			<script type="text/javascript" src="/js/datediff.js"></script>
			<script type="text/javascript">
				$('#<%= link.id %>-date').html(dateDifference(new Date('<%= link.updatedAt %>'), new Date(), {compact: true}));
			</script>
		<% } %>
	</body>
</html>
