<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>
		<div class="ui center aligned raised segments text container" <% if(typeof user === "undefined") { %> id='top' <% } %>>
			<div class="ui segment">
				<h3><%= profile.twitter.displayName %></h3>
				<a href="/profile/<%= profile.twitter.username %>" target="_blank">
					/profile/<%= profile.twitter.username %>
				</a>
			</div>

			<div class="ui segment">
				<a class="ui centered small image" href="https://twitter.com/<%= profile.twitter.username %>" target="_blank">
					<img src="<%= profile.twitter.image %>"/>
					<button class="ui bottom attached fluid twitter button">
						<i class="twitter icon"></i>
						Twitter
					</button>
				</a>

				<p>
					<br>
					Last activity:
					<strong><%= lastseen %></strong>
					<br>
					Member since
					<strong><%= since %></strong>
				</p>
			</div>
		</div>

		<div class="ui centered cards" style="margin-top: 1em">
			<% for (var i = profile.links.length - 1; i >= 0; i--) { %>
				<%- include('../snippets/cardLink', {card: profile.links[i], isprofilepage: true}) %>
			<% }; %>
		</div>

		<% include ../snippets/footer %>
		<script type="text/javascript" src="/js/datediff.js"></script>
		<script type="text/javascript">
			function confirmation() {
				return confirm("Are you sure you want to delete this?");
			}

			<% for (var i = 0; i < profile.links.length; i++) { %>
			$('#<%= profile.links[i].id %>-date').html(dateDifference(new Date('<%= profile.links[i].updatedAt %>'), new Date(), {compact: true}));
			$('#<%= profile.links[i].id %>-delete').on('click', function () {
				if (confirmation()) {
					$.ajax({
						url: '/link/<%= profile.links[i].id %>',
						type: 'DELETE',
						success: function (result) {
							if (result === true) {
								$('#<%= profile.links[i].id %>')
									.toggle('slow', function () {
										$('#<%= profile.links[i].id %>').remove();
									});
							}
						}
					});
				}
			});
			<% } %>
		</script>
	</body>
</html>
