<!DOCTYPE html>
<html>
	<head>
		<title>fcc-pinterest</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>
		<div class="ui center aligned raised segments text container" <% if(typeof user === "undefined") { %> id='top' <% } %>>
			<div class="ui segment">
				<h3><%= profile.twitter.displayName %></h3>
				<a href="/profile/<%= profile.twitter.username %>" target="_blank">
					/profile/<%= profile.twitter.username %>
				</a>
			</div>

			<div class="ui segment">
				<a href="https://twitter.com/<%= profile.twitter.username %>" target="_blank">
					<img src="<%= profile.twitter.image %>" class="ui centered bordered small image"/>
				</a>
				<p>
					<br>
					Last activity:
					<strong><%= lastseen %></strong>
					<br>
					Member since
					<strong><%= since %></strong>
				</p>
			</div>
		</div>

		<div class="ui centered cards" style="margin-top: 1em">
			<% for (var i = profile.links.length - 1; i >= 0; i--) { %>
				<div class="card" id="<%= profile.links[i].id %>">
					<div class="content">
						<a href="https://twitter.com/<%= profile.links[i].owner.twitter.username %>" target="_blank">
							<img class="ui avatar image" src="<%= profile.links[i].owner.twitter.image %>">
							<%= profile.links[i].owner.twitter.username %>
						</a>
						<div class="right floated meta">
							<a href="/profile/<%= profile.links[i].owner.twitter.username %>" id="<%= profile.links[i].id %>-date"></a>
						</div>
					</div>
					<a class="image" href="<%= profile.links[i].image %>" target="_blank">
						<img src="<%= profile.links[i].image %>"/>
					</a>
					<div class="content">
						<div class="header">
							<a href="/profile/<%= profile.links[i].owner.twitter.username %>"><%= profile.links[i].title %></a>
						</div>
						<div class="meta">
							<% for (var j = 0; j < profile.links[i].tags.length; j++) { %>
								<a><%= profile.links[i].tags[j] %></a>
							<% } %>
						</div>
					</div>
					<div class="extra content">
						<span class="right floated meta">
							<a href="/profile/<%= profile.links[i].owner.twitter.username %>"><%= profile.links[i].createdAt.toLocaleDateString() %></a>
						</span>
						<span>
							<a>
								<i class="heart icon"></i>
							</a>
							<%= profile.links[i].likes.length %>
							likes
						</span>
					</div>
					<% if(typeof user !== "undefined") { %>
						<% if(profile.links[i].owner.id === user.id) { %>
							<div class="ui bottom attached red button" id="<%= profile.links[i].id %>-delete">
								<i class="delete icon"></i>
								Delete
							</div>
						<% } %>
					<% } %>
				</div>
			<% } %>
		</div>

		<% include ../snippets/footer %>
		<script type="text/javascript" src="/js/datediff.js"></script>
		<script type="text/javascript">
			function confirmation() {
				return confirm("Are you sure you want to delete this?");
			}

			<% for (var i = 0; i < profile.links.length; i++) { %>
			$('#<%= profile.links[i].id %>-date').html(dateDifference(new Date('<%= profile.links[i].updatedAt %>'), new Date(), {compact: true}));
			$('#<%= profile.links[i].id %>-delete').on('click', function () {
				if (confirmation()) {
					$.ajax({
						url: '/link/<%= profile.links[i].id %>',
						type: 'DELETE',
						success: function (result) {
							if (result === true) {
								$('#<%= profile.links[i].id %>')
									.toggle('slow', function () {
										$('#<%= profile.links[i].id %>').remove();
									});
							}
						}
					});
				}
			});
			<% } %>
		</script>
	</body>
</html>
